<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="card card-body bg-light">
        <h1 class="text-center">Update your profile</h1>

        <%= form_for @profile, url: user_profile_path do |f| %>
          <div class="field mb-3">
            <%= f.label :first_name, class: "form-label" %>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>

          <div class="field mb-3">
            <%= f.label :last_name, class: "form-label" %>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="field mb-3">
            <%= f.label :username, class: "form-label" %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="field mb-3">
            <%= f.submit "Update Profile", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>