<%= form_with(model: [@user, @recipe], local: true, html: {multipart: true}) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.label :name, "Recipe Name", class: "form-label" %>
    <%= f.text_field :name, placeholder: "What's it called", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :url, class: "form-label" %>
    <%= f.text_field :url, placeholder: "Where's it from?", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, placeholder: "Add a description", class: "form-control" %>
  </div>

  <div class="field mb-3" >
    <%= f.label :tag_list, class: "form-label" %>
    <%= f.text_field :tag_list, placeholder: "Add as many tags as you'd like, separate each one with a commas", class: "form-control" %>
  </div>

  
  <div class="ingredient-field field mb-3">
    <%= f.label "Ingredients", class: "form-label"%>
    <%= f.fields_for :ingredients do |builder| %>
      <%= render 'ingredient', f: builder %>
    <% end %><br>
    <%= link_to_add_row('Add Ingredient', f, :ingredients, class: "btn btn-primary")%>
  </div>

  <div class="field mb-3" >
    <%= f.label :instructions, class: "form-label" %>
    <%= f.text_area :instructions, placeholder: "Put each step on its own line", class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :recipe_picture, "Picture", class: "form-label" %>
    <%= f.file_field :recipe_picture, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.label :cook_by_date, "Cook On:", class: "form-label" %>
    <%= f.date_select(:cook_by_date, start_year: Date.current.year, include_blank: true) %>
  </div>

  <div class="field mb-3">
    <%= f.submit "Update Recipe", class: "btn btn-primary" %>
  </div>
<% end %>
