<li class="list-group-item <%=cycle "list-group-item", "list-group-item-secondary" %>">
  <div class="container-fluid home-page-recipes">
    <div class="row">
      <div class="col-md-10 align-self-center">
        <h2><%= link_to recipe.name, user_recipe_path(user_id: recipe.user.id, id: recipe.id) %></h2>
        <div>
          <% recipe.tags.each do |tag| %>
            <% if user_signed_in? %>
              <%= link_to related_recipes_path(user_id: current_user.id, id: tag.id, recipe_id: recipe.id), class: "tag-anchor" do %>
                <span class="badge rounded-pill tags-background"><%= tag.tag_name %></span>
              <% end %>
            <% else %>
              <%= link_to related_recipes_path(id: tag.id, recipe_id: recipe.id), class: "tag-anchor" do %>
                <span class="badge rounded-pill tags-background"><%= tag.tag_name %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? && current_user.id == recipe.user.id %>
        <div class="col-md-2 button-wrapper">
          <%= link_to "Edit", edit_user_recipe_path(user_id: current_user.id, id: recipe.id), class: "btn btn-success align-middle mt-1" %>
          <%= link_to "Delete", user_recipe_path(user_id: current_user.id, id: recipe.id), method: :delete, class: "btn btn-danger align-middle mt-1" %>
        </div>
      <% else %>
        <div class="col-md-2 align-self-center">
          <%= link_to root_path, class: "btn btn-info align middle" do %>
            Added by: <%= recipe.user.profile.username %>
          <%end %>
        </div>
      <% end %>
    </div>
  </div>
</li>

