<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-profile">
      <%= render partial: "users/sidebar", object: @recipe.user, as: :user %>
    </div>
    <div class="col-md-8 offset-md-2">
      <h1><%= @recipe.name %></h1> 
      <% @recipe.tags.each do |tag| %>
        <% if user_signed_in? %>
          <%= link_to related_recipes_path(user_id: current_user.id, id: tag.id, recipe_id: @recipe.id), class: "tag-anchor" do %>
            <span class="badge rounded-pill tags-background"><%= tag.tag_name %></span>
          <% end %>
        <% else %>
          <%= link_to related_recipes_path(id: tag.id, recipe_id: @recipe.id), class: "tag-anchor" do %>
            <span class="badge rounded-pill tags-background"><%= tag.tag_name %>
          <% end %>
        <% end %>
      <% end %>
        
      <% if user_signed_in? && @recipe.user == current_user %>
        <p>Your Recipe</p>
      <% else %>
        <p>Added by <%= @recipe.user.profile.username %></p>
      <% end %>
      <% if @recipe.cook_by_date %>
        <p>Cook on: <%= @recipe.cook_by_date.strftime("%A %m/%d/%Y") %></p>
      <% end %>
      <p><%= @recipe.description %></p>
      
      <h3>Ingredients</h3>
      <ul class="list-group list-group-flush">
        <% prep_ingredient_list(@recipe.ingredients).each do |ingredient| %>
            <li class="list-group-item"><%= ingredient %><li>
        <% end %>
      </ul>

      <h3>Instructions</h3>
      <ul class="list-group list-group-flush">
        <% prep_ingredient_list(@recipe.instructions).each do |step| %>
            <li class="list-group-item"><%= step %><li>
        <% end %>
      </ul>


      <%= link_to 'Edit', edit_user_recipe_path(user_id: params[:user_id], id: @recipe) %> |
      <%= link_to 'Back', user_path(id: params[:user_id]) %>
    </div>
  </div>
</div>
