<div class="container-fluid">
  <% if user.profile.avatar.attached? %>
    <%= image_tag(url_for(user.profile.avatar), class: "profile-picture rounded")%>
  <% else %>
    <%= image_tag("default/default-profile.png", class: "profile-picture rounded-circle")%>
  <% end %>
</div>
    <h4><%= user.profile.first_name%> <%= user.profile.last_name %></h4>
    <h5><%= user.profile.username %></h5>
    <p>
      <%= link_to "Recipes", user_path(id: user.id)%>
      <% if user_signed_in? && user.id == current_user.id %>
       | <%= link_to "Update Profile", edit_user_profile_path(user_id: user.id) %></br>
        <%= link_to "Add a Recipe", new_user_recipe_path(user_id: user.id) %>
      <% end %>
    </p>


