<div class="container-fluid">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-2 side-profile">
        <%= render partial: "users/sidebar", object: current_user, as: :user %>
      </div>
      <% end %>
      <div class="col-md-8 offset-md-2">
        <h1>CHEFS</h1>
        <ul class="list-group list-group-flush">
          <% @users.each do |user| %>
            <li class="list-group-item <%=cycle "list-group-item", "list-group-item-secondary" %>">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-2 center-text" align="center">
                    <% if user.profile.avatar.attached? %>
                        <%= image_tag(url_for(user.profile.avatar), size: "175x175", class: "profile-picture rounded") %>
                    <% else %>
                      <%= image_tag("default/default-profile.png", class: "profile-picture rounded-circle")%>
                    <% end %>
                  </div>
                  <div class="col-md-10">
                    <%= link_to user_path(id: user.id) do %>
                      <h3><%= user.profile.username %></h3>
                    <% end %>
                    <% if user.recipes.empty? %>
                      <p>No recipes added<p>
                    <% else %>
                      <p>Most Recent Recipe: <%= link_to user.recipes.last.name, user_recipe_path(user_id: user.id, id: user.recipes.last.id) %></p>
                      Uploaded: <%= user.recipes.count %> Recipes</br>
                    <% end %>
                    Joined in: <%= user.created_at.strftime("%B %Y") %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to "View all recipes", recipes_path %>
      </div>
  </div>
</div>