<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-profile">
        <%= render "users/sidebar" %>
    </div>
    <div class="col-md-8 offset-md-2">
      <h1>Your Recipes</h1>
      <ul class="list-group">
        <% @user.recipes.each do |recipe| %>
          <li class="list-group-item list-group-item-secondary">
            <h2>
              <%= link_to recipe.name, user_recipe_path(user_id: @user.id, id: recipe.id), class: "recipe-title" %>
            </h2>
            <p class="list-p">
              <%= link_to "Edit", edit_user_recipe_path(user_id: @user.id, id: recipe.id), class: "btn btn-success align-middle" %>
              <%= link_to "Delete", user_recipe_path(user_id: @user.id, id: recipe.id), method: :delete, class: "btn btn-danger align-middle" %>
              <% recipe.tags.each do |tag| %>
                <%= link_to user_related_recipes_path(user_id: recipe.user.id, id: tag.id, recipe_id: recipe.id), class: "tag-anchor align-middle" do %>
                  <span class="btn badge rounded-pill tags-background"><%= tag.tag_name %></span>
                <% end %>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-2">
      <h1>Upcoming Recipes</h1>
      <ul class="list-group list-group-flush">
        <% @user.recipes.each do |recipe| %>
          <% if recipe.cook_by_date%>
            <% if recipe.cook_by_date > Date.today %>
              <li class="list-group-item">
                <%= recipe.cook_by_date.strftime("%a %m/%d") %>
                <%= link_to recipe.name, user_recipe_path(user_id: @user.id, id: recipe.id) %>
              </li>
            <% end %>
          <%end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>
   