<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-profile">
        <%= render partial: "users/sidebar", object: @user, as: :user %>
    </div>
    <div class="col-md-8 offset-md-2">
      <h1><%= @user.profile.username %>'s Recipes</h1>
      <%= render "recipes/filter_bar" %>
        <% if params[:filter_tag] %>
          Recipes tagged with: <%= @tag.tag_name %>
        <% end %>
      <ul class="list-group list-group-flush">
        <%= render partial: "recipes/recipe_list", collection: @recipes, as: :recipe %>
      </ul>
    </div>

    <div class="col-md-2">
      <h1>Upcoming Recipes</h1>
      <ul class="list-group list-group-flush">
        <% @user.recipes.each do |recipe| %>
          <% if recipe.cook_by_date%>
            <% if recipe.cook_by_date > Date.today %>
              <li class="list-group-item">
                <%= recipe.cook_by_date.strftime("%a %m/%d") %>
                <%= link_to recipe.name, user_recipe_path(user_id: @user.id, id: recipe.id) %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>
   