<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 side-profile">
        <%= render "users/sidebar" %>
    </div>

    <div class="col-md-8 offset-md-2">
      <h1>Recipes Tagged with <%= @tag.tag_name.capitalize %></h1>
      <div id="myGroup">
        <p>
          <button class="btn btn-primary related-recipe-button-background" 
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#userRecipes" 
                  aria-expanded="false" 
                  aria-controls="userRecipes">
            Your Recipes
          </button>
          <button class="btn btn-primary related-recipe-button-background" 
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#allRecipes" 
                  aria-expanded="false" 
                  aria-controls="allRecipes">
            All Recipes
          </button>
        </p>
      
        <div class="collapse show" id="userRecipes" data-bs-parent="#myGroup">
          <% if @user_recipes.nil? || @user_recipes.empty? %>
            <% if user_signed_in? %>
              <p>You don't have any recipes tagged with <%= @tag.tag_name %>
            <% else %>
              <%= link_to "Sign up now and start adding recipes!", new_user_registration_path %>
            <% end %>
          <% else %>
            <ul class="list-group list-group-flush">
              <%= render partial: "recipes/recipe_list", collection: @user_recipes, as: :recipe%>
            </ul>
          <% end %>
        </div>
        <div class="collapse multi-collapse" id="allRecipes" data-bs-parent="#myGroup">
          <ul class="list-group list-group-flush">
            <%= render partial: "recipes/recipe_list", collection: @recipes, as: :recipe %>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>
